body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 905px;
  min-width: 1600px;
  min-height: 900px;
  padding: 0;
  margin: 0;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 900px;
  min-width: 1600px;
  min-height: 900px;
  background-color: aqua;
}

#game_lobby {
  display: none;
  visibility: hidden;
  width: 1280px;
  height: 720px;
  min-width: 1280px;
  min-height: 720px;
  background-color: red;
}

#board {
  /* display: none;
  visibility: hidden; */
  width: 1600px;
  height: 900px;
  min-width: 1600px;
  min-height: 900px;
  background-color: red;
  background-image: url("../resources/images/board.png");
  display: flex;
  flex-direction: column;
}

.player_ui {
  background-color: blue;
  flex: 2;
}

#play_board {
  background-color: blueviolet;
  flex: 5;
}
.deck {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.game_message {
  background-color: lightblue;
}
.error {
  background-color: lightcoral;
}
.card {
  padding: 2px;
  background-color: violet;
}